#encryptor{
  display:flex;
  flex-direction: column;
}
#tools{
  display: flex;
  flex-direction: row;
 }

#encrypt_box{
  margin: 20px;
}

#decrypt_box {
  margin: 20px;
}
#text_input {
  width: 300px;
  height: 200px;
}
